.Header {padding: 12px;}

.Header .octicon {width: 24px;}

.Box-header { max-height: 40px; padding: 8px 10px; }

.Box-body { padding: 10px 12px; }

.p-2 { padding: 6px !important; }

.p-3 { padding: 12px !important; }

.p-4 { padding: 16px !important; }

.py-3 { padding-top: 11px !important; padding-bottom: 8px !important; }

.pt-3 { padding-top: 12px !important; }

.my-3 { margin-top: 14px !important; margin-bottom: 10px !important; }

.btn-sm { padding: 3px 9px; }

.Box-row { padding: 12px; }

.TimelineItem {padding: 10px 0;}

.timeline-comment-header-text {padding-top: 6px;padding-bottom: 6px;}

.gh-header.issue .gh-header-meta { margin-bottom: 8px; }
