body,
input,
select,
div#showvotes,
div.box,
p.box,
table.userlist,
div#menu,
div#pm-menu,
div#search,
div#tasklist,
div#taskdetails,
div.redirectmessage,
table.history,
div.popup,
div.denyform,
fieldset,
div.tbuttons,
div.tab,
.pun,
.pun .blocktable th,
.pun .blocktable .box,
textarea,
#toc,
.pun .blockpost h2,
.pun .blockpost,
.toc,
.mw-warning,
#pkgdetails #detailslinks > div,
.toccolours,
.catlinks,
.results tr:nth-child(odd),
#article-list tr:nth-child(odd) {
    background-color: #202020;
    border: 0;
    color: #959595;
}

div.vectorTabs li.selected,
#content,
.pun .blockpost .postbody,
.pun .blockpost .postfoot,
.pun .punwrap,
#brdmenu,
#brdmenu a,
#brdmenu a:link,
#brdmenu a:visited,
#brdwelcome,
.wikitable,
.results tr:nth-child(even),
#article-list tr:nth-child(even),
.results th,
input.text,
input.password,
input.file,
textarea,
select,
.date,
.date:hover,
span.autocomplete {
    background: #282828;
    border: 0;
}

div.vectorTabs li.selected {
    padding: 0 9px 1px;
}

#mw-panel .portal h3 {
    color: #c2c2c2;
}


#content table,
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content pre,
#content code,
#content tt,
.pun .quotebox,
.pun .postmsg,
#punhelp code,
#punhelp samp,
#news h3 a {
    color: #fff !important;
}

#content a:not(.new),
#mw-navigation li:not(.new) a:not(.new),
#mw-panel li:not(.new) a:not(.new),
#column-one li:not(.new) a:not(.new),
#footer a:not(.new) {
    color: #00a2ff;
}

.tocnumber,
.pun .codebox,
.mw-body,
.parsoid-body {
    color: #fff;
}

#simpleSearch #searchButton {
    display: none;
}

#simpleSearch,
div#tasklist table td {
    background: none;
    border: 0;
}

#simpleSearch #searchInput {
    background-color: #282828;
}

div.archwiki-template-box.archwiki-template-box-note,
#content pre,
#content code,
#content tt,
div.archwiki-template-message,
.pun .quotebox,
.pun .codebox,
div.box {
    background-color: #1b191e;
    border: 0;
}

div.archwiki-template-box.archwiki-template-box-tip {
    border: 0;
    background-color: #215551;
}

.wikitable > tr > th,
.wikitable > * > tr > th {
    background-color: #202020;
}

.wikitable > tr > th,
.wikitable > tr > td,
.wikitable > * > tr > th,
.wikitable > * > tr > td,
.pun .blocktable td {
    border-color: #4b4a4a;
}

#content a:not(.new):visited,
#mw-panel li:not(.new) a:not(.new):visited,
#p-navigation li:not(.new) a:not(.new):visited,
#p-tb li:not(.new) a:not(.new):visited {
    color: #8BC34A !important;
}

.vectorTabs span {
    background-image: none
}

#article-list tr:hover,
#clocks-table tr:hover,
#dev-dashboard tr:hover,
#dev-todo-lists tr:hover,
#dev-todo-pkglist tr:hover,
#pkglist-results tr:hover,
#stats-area tr:hover {
    background: #000;
}
